@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
.App {
  letter-spacing: 2px;
}
body {
  background: linear-gradient(90deg, darkred, maroon);
}

.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  padding: 10px;
}
.recipe img {
  border-radius: 20px;
  margin: 10px 0 0 0;
}
.recipe h2 {
  margin: 0px 0 10px 0;
}
.recipe h2 button {
  background: rgb(170, 112, 41);
  color: white;
  border: 5px solid rgb(170, 112, 41);
  border-radius: 5px;
  margin-bottom: 5px;
}
.popupDisplay {
  width: 500px;
  background-color: darkgray;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.card {
  padding: 25px;
  color: white;
  background: linear-gradient(90deg, rgb(218, 99, 99), rgb(218, 99, 99));
}
.center {
  text-align: center;
  font-size: 50px;
  font-family: "Parisienne", cursive;
  text-decoration: none;
  color: white;
  text-decoration: underline;
  text-decoration-color: teal;
}
CardHeader {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.AddingRecipe {
  background-color: white;
  border-radius: 2px;
}
.AddingRecipe input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: crimson;
}
.AddingRecipe label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: black;
  font-size: 14px;
  font-weight: 200;
}
.AddingRecipe input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
.AddingRecipe button[type="submit"],
input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}
.AddingRecipe button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #bf1650;
}

.AddingRecipe button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.AddingRecipe input:disabled {
  opacity: 0.4;
}

.AddingRecipe input[type="button"]:hover {
  transition: 0.3s all;
}

.AddingRecipe button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
.AddingRecipe p{
  color: crimson;
  font-weight: 600;
}
.updateForm{
  width:500px;
  background-color: #bf1650;
  color: white;
}
.updateForm input{
  width:90%;
}